$font-size: 20px;
$button-background-color: green;
$button-font-color: white;
$text-font-color: red;

.hello-world-button {
	font-size: $font-size;
	padding: 7px 15px;
	background: $button-background-color;
	color: white;
	outline: none;
}

.hello-world-text {
	font-size: 50px;
	color: $text-font-color;
	font-weight: bold;
}
